.adminContainer {
  padding: 2rem 1rem;
  background-color: var(--golden-apricot);
  border-radius: 1rem;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.adminContainer h1 {
  margin: 1rem;
}

.backBtn {
  margin: 1rem;
  width: 70px;
}

.adminMenu li {
  list-style: none;
  padding: 1rem 2rem;
  background-color: rgb(255, 252, 252);
  margin: 0.5rem;
}

.adminMenu a {
  color: var(--link-color);
  text-decoration: none;
}