.formWrapper {
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  padding: 2rem 1rem;

  width: 100%;
  height: auto;
}

.formWrapper h2 {
  margin-bottom: 3rem;
}

.adminFieldset {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white;
}

.formColumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formColumn label {
  margin-bottom: 0.5rem;
  margin-left: 0.8rem;
}

.formColumn input {
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid grey;
}

.formColumn button {
  background-color: var(--golden-apricot);
  color: var(--link-color);
}