.dashboard-wrapper {
  margin: 2rem;
}

.dashboard-section {
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: var(--lavender-grey);
  color: var(--text-color);
}

.dashboard-section a {
  display: flex;
  list-style: none;
  margin-bottom: 0.5rem;
  text-decoration: none;
}