.dashboard-wrapper {
  margin: 2rem;
}

.dashboard-section {
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: var(--golden-apricot);
  color: var(--text-color);
}

.dashboard-section h3 {
  color: red;
}

.list li {
  list-style: none;
}

.dashboard-section a {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0.5rem;
  text-decoration: none;
  background-color: rgb(212, 205, 205);
}

.dashboard-section a:nth-of-type(odd) {
  background-color: aliceblue;
}

.dashboard-section a:nth-of-type(even) {
  background-color: rgb(208, 212, 215);
}

.dashboard-section a:hover {
  background-color: rgb(178, 179, 184);
}

.warnQty {
  color: red;
  font-weight: 700;
}