.form-wrapper h2 {
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 600px;
}

fieldset {
  margin: 2rem 1rem;
  padding: 7rem 1rem 3rem;
  border-radius: 2rem;
  background-color: rgb(77, 132, 210);
}

.form-colum {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-colum input {
  padding: 0.75rem;
  border-radius: 2rem;
}

.form-colum label {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

form a {
  display: block;
  margin-bottom: 4rem;
}

.form-button {
  display: flex;
  justify-content: center;
  margin: 1rem;
}