.nav-wrapper {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  bottom: 0;

  width: 100%;
  height: 4.5rem;
  z-index: 1000;
  background-color: orange;
}

.nav-link {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
}

.nav-wrapper a {
  color: var(--link-color);
}