.componentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topRow {
  display: flex;
  justify-content: flex-end;

}

.addBtn {
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 20px;
  cursor: pointer;
}