.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  min-width: 400px;
  max-width: 600px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: fadeIn 0.2s ease-out;
  color: black;
}

.modalContent input {
  padding: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.saveBtn {
  background-color: #0077ff;
  color: white;
  border: 1px solid black;
}

.deleteBtn {
  background-color: #d64545;
  color: white;
  border: 1px solid black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}