.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  z-index: 90;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 260px;
  background-color: var(--golden-apricot);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  transform: translateX(100%);
  transition: transform 0.5s ease-out;

  z-index: 100;
}

.show {
  transform: translateX(0);
}

.close-btn {
  align-self: flex-end;
  padding: 0.2rem;
  border-radius: 8px;
}

.userName {
  font-size: large;
}

.sidebar a {
  text-decoration: none;
  color: var(--link-color);
  padding: 0.8rem;
  border-bottom: 1px solid #e0e0e0;

  transition: color 0.2s;
}

.sidebar a:hover {
  background-color: var(--details-color)
}

.logout-btn {
  background-color: var(--button-color);
  margin-top: 1rem;
}