/* Normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Tema för grunddesign-val */
:root {
  --ocean-blue: #1E88E5;
  --golden-apricot: rgba(228, 154, 58, 1);
  --orange: rgb(255, 165, 0);
  --lavender-grey: rgba(128, 138, 157, 1);

  --details-color: rgb(220, 146, 9);
  --button-color: #fff;
  --second-button-color: #2563eb;
  --link-color: rgb(19, 19, 206);
  --text-color: #fff;
  --font-family: Arial, Helvetica, sans-serif;
  --default-padding: 1rem;
}


/* Global layout design */
html, body {
  height: 100%;
  margin-bottom: 4.5rem; /* Inget döljs av navmenyn */
  background-color: var(--lavender-grey);
  font-family: var(--font-family);
  color: var(--text-color);
}

#root {
  min-height: 100%;
  padding-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Rubriker */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 1rem 0;
}

/* Knapp default */
button {
  padding: 0.55rem 1rem;
  background-color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

fieldset {
  padding: 2rem;
}

